[submodule "pack/editing/start/darcula"]
	path = pack/editing/start/darcula
	url = https://github.com/blueshirts/darcula
[submodule "pack/editing/start/nerdtree"]
	path = pack/editing/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/editing/start/syntastic"]
	path = pack/editing/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "pack/editing/start/tabnine-vim"]
	path = pack/editing/start/tabnine-vim
	url = https://github.com/codota/tabnine-vim
[submodule "pack/editing/start/vim-commentary"]
	path = pack/editing/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/editing/start/vim-devicons"]
	path = pack/editing/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/editing/start/vim-fugitive"]
	path = pack/editing/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/editing/start/vim-gitbranch"]
	path = pack/editing/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch
[submodule "pack/editing/start/vim-nerdtree-syntax-highlight"]
	path = pack/editing/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "pack/editing/start/vim-rainbow"]
	path = pack/editing/start/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow
[submodule "pack/editing/start/vim-airline"]
	path = pack/editing/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/editing/start/vim-airline-themes"]
	path = pack/editing/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/editing/start/denite.nvim"]
	path = pack/editing/start/denite.nvim
	url = https://github.com/Shougo/denite.nvim
[submodule "pack/editing/start/nvim-yarp"]
	path = pack/editing/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "pack/editing/start/vim-hug-neovim-rpc"]
	path = pack/editing/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "pack/editing/start/nvim-colorizer.lua"]
	path = pack/editing/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "pack/editing/start/vim-css-color"]
	path = pack/editing/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "pack/editing/start/vim-hexokinase"]
	path = pack/editing/start/vim-hexokinase
	url = https://github.com/RRethy/vim-hexokinase
[submodule "pack/editing/start/vim-surround"]
	path = pack/editing/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/editing/start/fzf"]
	path = pack/editing/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/editing/start/vim-fish"]
	path = pack/editing/start/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "pack/editing/start/fzf.vim"]
	path = pack/editing/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/editing/start/gruvbox"]
	path = pack/editing/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/editing/start/vim-repeat"]
	path = pack/editing/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/editing/start/ultisnips"]
	path = pack/editing/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/editing/start/nvim-treesitter"]
	path = pack/editing/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/editing/start/neoscroll.nvim"]
	path = pack/editing/start/neoscroll.nvim
	url = https://github.com/karb94/neoscroll.nvim
[submodule "pack/editing/start/vim-cmake-syntax"]
	path = pack/editing/start/vim-cmake-syntax
	url = https://github.com/pboettch/vim-cmake-syntax.git
[submodule "pack/editing/start/vimspector"]
	path = pack/editing/start/vimspector
	url = https://github.com/puremourning/vimspector
[submodule "pack/editing/start/markdown-preview.nvim"]
	path = pack/editing/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "pack/editing/start/taglist.vim"]
	path = pack/editing/start/taglist.vim
	url = https://github.com/mtth/taglist.vim
[submodule "pack/editing/start/taglist"]
	path = pack/editing/start/taglist
	url = https://github.com/yegappan/taglist
[submodule "pack/editing/start/tagbar"]
	path = pack/editing/start/tagbar
	url = https://github.com/preservim/tagbar
[submodule "pack/editing/start/vimtex"]
	path = pack/editing/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "pack/editing/start/telescope.nvim"]
	path = pack/editing/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/editing/start/popup.nvim"]
	path = pack/editing/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "pack/editing/start/plenary.nvim"]
	path = pack/editing/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
